<div class="signin">
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br /><br />
    <%= f.email_field :email, autofocus: true %><br /><br />
  </div>

  <div class="actions">
    <%= f.submit "Resend" %><br /><br />
  </div>
<% end %>
</div>
<div class ="devise_shared_links">
<%= render "devise/shared/links" %>
</div>
