
<%= render "adsHorizontal"%>
<div id="building"><%=image_tag("building.gif")%></div>

<div id= "intro">
Welcome to Adam's Snakes, Jewels and Coffee Shop,
the only shop where you can buy a pet snake to call
your pal, a pretty jewel for someone you cherish, or
just a cup of coffee to start your wonderful day.  Why
get such items at three different stores when you can
just come to one place instead? Come to Adam's Snakes,
Jewels and Coffee Shop for all your needs. Check out the
site for more details.
</div>
<div id ="search_tab"><%= render 'products/search' %></div>
<p id="location"></p>
<script>
var address = '{"number":"27197 SW Fake Street","city":"Random City","state":"OH", "zip":43222}'
var obj = JSON.parse(address);
document.getElementById("location").innerHTML = "<p style='font-size: 24px; font-weight: bold'>Address</p>" + obj.number + "<br>" +obj.city + "&nbsp;" + obj.state  + "&nbsp;" + obj.zip;
</script>

<div id="hours">
<h4>Store Hours</h4>
<div id="subtext">
<p>Monday-Friday: 8:00AM - 8:00PM</p>
<p>Saturday: 8:00AM - 9:00PM</p>
<p>Sunday: 8:00AM - 7:00PM</p>
</div>
</div>

<div id="googleMap" style="width:500px;height:380px;"></div>

<%= render "adsVertical"%>
<%= render "wordAds"%>

