<%= link_to 'New item', new_item_path %> 
<div id="advertisement_horizontal"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html"><%=image_tag("#{@horizontal_name}.jpg")%></a></div>
<div class="all_items"> 
<table>
  <% @items.each do |item| %>  		
    <tr>
      <td><%= image_tag item.picture.url(:thumb) %></td>	
      <td><%= item.title %></td>
      <td><%= item.price %></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>
<div id="advertisement_vertical"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html"><%=image_tag("#{@vertical_name}.jpg")%></a></div></br></br>
<div class="word_ads">
sponsored offers</br>
<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">New Rule Here</a></div>
Finding out news in </br>
inconvenient ways is dumb.</br>
Uranidiot</br></br>

<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Indisputable Proof!</a></div>
Read the napkin that proves</br>
beyond doubt that Obama</br> 
was born in Kenya. </br>
Rukiddingme</br></br>

<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Slash Your Bills</a></div>
It's so easy a baby could do </br>
it, check this out!</br>
Wink Wink Haha</br>
</div>	