<h1>Adam's Snakes, Jewels and Coffee Shop</h1>
<h3>Add new item</h3>

<%= form_for :item do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </p> 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
  	<%= f.label :price %></br>
  	<%= f.text_field :price %>
  </p>
    <%= f.submit %>
  </p>
<% end %>

