<div class="image_item">
	<p>
		<%=@item.picture.url%>
	</p>	
		
	</div>

<div class="items_individual">

<p style = "font-size:24px">
  <strong><%= @item.title %></strong>
</p>
 
<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <%= @item.description %>
</p>

</div>
<div id="back"><%= link_to 'Back', items_path %></div>