<h3>About Us</h3>
<div class="about_us">
	<div id="about_paragraph_1">
	Adam's Snakes, Jewels and Coffee Shop opened in 2013 thanks to the</br>
	vision of our founder, Adam Bodinski. As a child, Adam was always</br>
	fascinated by snakes, owning a couple that he named Gold and Silver,</br> 
	which he raised with the help of his parents, Debbi and Steve.  That</br>
	passion continued well into his teenage years, as he studied snakes </br>
	habitats, eating habits and survival techniques.  It was as a teen </br>
	that Adam decided he wanted to open a snake pet shop that catered to</br> 
	snake lovers like himself, with research skills that made the decision</br> 
	process easy.</br></br>
	</div>
	<div id="owner_child"><a href="#" title="Adam as a child.  He loved snakes then too!"><%=image_tag("Bodinski child.jpg")%></a></div>
	<div id="about_paragraph_2">
	Eventually, Adam graduated with a degree in business from the University of</br>
	Minnesota and became engaged to his wife of many years, Melissa.  It was through</br>
	her that Adam developed his second love, jewels.  Adam became obsessed with </br>
	finding the perfect engagement ring for the woman of his life, even researching </br>
	every statistic possible to man to make sure he found the perfect diamond ring.</br>
	With his wife's passion for jewelry, Adam used this dedication to make sure all</br> 
	his jewels were right for her, from the redness of the Ruby to the greenness of</br> 
	his personal favorite jewel, the Emerald.  </br></br>
	</div>
	<div id="owner"><a href="#" title="Adam Bodinski, our owner and founder!"><%=image_tag("Bodinski.jpg")%></a></div>
	<div id="about_paragraph_3">
	One day, while Adam was enjoying his fine roasted coffee, Adam was sparked with an idea.  What if he started </br>
	a shop that exclusively sold snakes, jewels and coffee in the same store?  It sounded silly at the time, but </br>
	with the support of his wife, Adam turned his passion into a reality, with the only shop that sells only snakes,</br>
	jewels and coffee in the same shop.  After all, why go to three shops when you can go to just one? </br></br>
	</div>
</div>

<div class="word_ads">
sponsored offers</br>
<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Vote for Me</a></div>
I only want you to vote</br>
so you can vote for me!</br>
Tea Party Express</br></br>

<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Work From Home</a></div>
It's great working from </br>
home, a monkey can make </br> 
lots of cash selling crap.</br>
Pirate 101</br></br>

<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Gardening Tips</a></div>
No one cares about garden</br>
tips. I dare you to look...</br>
Happy-Go-Lucky Gardens</br>
</div></br>	

<div id="advertisement_vertical"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html"><%=image_tag("#{@vertical_name}.jpg")%></a></div>
<div id="links"><%= link_to 'Back', controller: 'welcome' %></div>
<div id="advertisement_horizontal"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html"><%=image_tag("#{@horizontal_name}.jpg")%></a></div></br>
