<div id="search_form">
<%= search_form_for @q, url: search_products_path, html: { method: :post } do |f| %>

  <%= f.label :title_cont, "Search" %><br />
  <%= f.search_field :title_cont %><br /><br/ >
  <%= f.submit %><br /><br />
    
  <%= f.label :price_gteq, "Price in the range of" %>
  <%= f.search_field :price_gteq %>
  <%= f.label :price_lteq, "and" %>
  <%= f.search_field :price_lteq %>
  <%= f.submit %>
  
<% end %>
</div>
