<div class = "show_page">
	<div class="image_item">
		<p><%=image_tag @product.picture.url(:medium)%></p>	
	</div>
	
	<div class="products_individual">
	
	<p style = "font-size:28px">
	  <strong><%= @product.title %></strong>
	</p>
	<p>
	  <strong>Category:</strong>
	  <%= @product.category %>
	</p> 
	<p>
	  <strong>Size:</strong>
	  <%= @product.size %> <%= @unit %>
	</p>
	
	<p>
	  <table>
	  	<tr>
	  		<td>Price:</td>	
	  		<td style= "text-align: right">$<%= @product.price.round(2) %></td>
	  	</tr>
	  	<tr>
	  		<td>Sales Tax:</td> 
	  		<td style= "text-align: right">+&nbsp;$<%= @tax_price %></td>
	  	</tr>
	  	<tr>
	  		<td>Total Price:</td> 
	  		<td style= "text-align: right; border-top: 1px solid black">$<%= @total %></td>
	  	</tr>
	  </table>
	</p>
	
	<p>
	  <%= @product.description %>
	</p>
	
	</div>
	<div id="back"><%= link_to 'Back', products_path %></div><br /><br />
	
	
	<%- if @product.category == "Jewels" %>
	  <script type='text/javascript'>
	    var numberArray=[1,4,7,10,13,16,19,22,25,28];
	    var nameArray=["Ruby","alexandrite","emerald","pyrite","opal","aquamarine","diamond","jade","pearl","sapphire"];
	    var idArray=[1420137571, 1420388601, 1420389585, 1420742122, 1420762324, 1420935182, 1420935661, 1420936416, 1422140199, 1422141890];
	    var numberIdArray= ["001", "004", "007", "010", "013", "016", "019", "022", "025", "028"];
	    var titleArray=["Ruby", "Alexandrite", "Emerald", "Pyrite", "Opal", "Aquamarine", "Diamond", "Jade", "Pearl", "Sapphire"];
	    
	    var randomnumber=Math.floor(Math.random()*nameArray.length);
	    random_generator=numberArray[randomnumber];
	    random_generator2=nameArray[randomnumber];
	    random_generator3=idArray[randomnumber];
	    random_generator4=numberIdArray[randomnumber];
	    random_generator5=titleArray[randomnumber];
	    
	    var newUrl = document.getElementById('index').href;
	    newUrl = newUrl.replace("Variable", random_generator);
	    document.getElementById('index').href = newUrl;
	
		var newName = document.getElementById('name').src;
	    newName = newName.replace("ID", random_generator3);
	    newName = newName.replace("NAME", random_generator2);
	    newName = newName.replace("NUMBER", random_generator4);
	    document.getElementById('name').src = newName;
	
		document.getElementById('other_name').innerHTML = random_generator5;
	    
	    </script>
	<% end -%>
	
	<%- if @product.category == "Snakes" %>
	  <script type='text/javascript'>
	    var numberArray=[2,5,8,11,14,17,20,23,26,29];
	    var nameArray=[
	    "python","blackmamba","rattlesnake", "viper", "cornsnake","boaconstrictor","copperhead","gardensnake","cobra", "milksnake"];
	    var idArray=[
	    1421687879, 1420388847, 1421687956, 1420742225, 1420762512, 1420935352, 1420935828, 1421687983, 1422140424, 1422142007];
	    var numberIdArray= [
	    "002", "005", "008", "011", "014", "017", "020", "023", "026", "029"];
	    var titleArray=[
	    "Python","Black Mamba","Rattlesnake", "Viper", "Cornsnake","Boa Constrictor","Copperhead","Gardensnake","Cobra", "Milknake"
	    ];
	    
	    var randomnumber=Math.floor(Math.random()*nameArray.length);
	    random_generator=numberArray[randomnumber];
	    random_generator2=nameArray[randomnumber];
	    random_generator3=idArray[randomnumber];
	    random_generator4=numberIdArray[randomnumber];
	    random_generator5=titleArray[randomnumber];
	    
	    var newUrl = document.getElementById('index').href;
	    newUrl = newUrl.replace("Variable", random_generator);
	    document.getElementById('index').href = newUrl;
	
		var newName = document.getElementById('name').src;
	    newName = newName.replace("ID", random_generator3);
	    newName = newName.replace("NAME", random_generator2);
	    newName = newName.replace("NUMBER", random_generator4);
	    document.getElementById('name').src = newName;
	
		document.getElementById('other_name').innerHTML = random_generator5;
	    
	    </script>
	<% end -%>
	
	<%- if @product.category == "Coffee" %>
	  <script type='text/javascript'>
	    var numberArray=	[3,6,9,12,15,18,21,24,27,30];
	    var nameArray=		["coffee", "americano", "latte","cafe_au_lait", "espresso", "cappuccino", "latte_macchiato", "macchiato", "mocha", "turkish_coffee"];
	    var idArray=		[1421687912, 1421687931, 1420389984, 1420742286, 1420762792, 1420935511, 1420936068, 1420936708, 1422140510, 1422142130];
	    var numberIdArray=  ["003", "006", "009", "012", "015", "018", "021", "024", "027", "030"];
	    var titleArray=		["Coffee", "Americano", "Latte", "Cafe au Lait", "Espresso", "Cappuccino", "Latte Macchiato", "Macchiato", "Mocha", "Turkish Coffee"];
	    
	    var randomnumber=Math.floor(Math.random()*nameArray.length);
	    random_generator=numberArray[randomnumber];
	    random_generator2=nameArray[randomnumber];
	    random_generator3=idArray[randomnumber];
	    random_generator4=numberIdArray[randomnumber];
	    random_generator5=titleArray[randomnumber];
	    
	    var newUrl = document.getElementById('index').href;
	    newUrl = newUrl.replace("Variable", random_generator);
	    document.getElementById('index').href = newUrl;
	
		var newName = document.getElementById('name').src;
	    newName = newName.replace("ID", random_generator3);
	    newName = newName.replace("NAME", random_generator2);
	    newName = newName.replace("NUMBER", random_generator4);
	    document.getElementById('name').src = newName;
	
		document.getElementById('other_name').innerHTML = random_generator5;
	    
	    </script>
	<% end -%>
	
	<div class="additional_link">
		<p>You Might Like This As Well.  Click the Picture for More Information.</p></br>
		<a href="http://localhost:3000/products/Variable" id="index"><img src="/system/products/pictures/000/000/NUMBER/thumb/NAME.jpeg?ID" id="name"></a></br>
		<p id= "other_name"></p>
	</div>
</div>

