<div class = "show_page">
	<div class="image_item">
		<p><%=image_tag @product.picture.url(:medium)%></p>	
	</div>
	
	<div class="products_individual">
	
	<p style = "font-size:28px">
	  <strong><%= @product.title %></strong>
	</p>
	<p>
	  <strong>Category:</strong>
	  <%= @product.category %>
	</p> 
	<p>
	  <strong>Size:</strong>
	  <%= @product.size %> <%= @unit %>
	</p>
	
	<p>
	  <table>
	  	<tr>
	  		<td>Price:</td>	
	  		<td style= "text-align: right">$<%= @product.price.round(2) %></td>
	  	</tr>
	  	<tr>
	  		<td>Sales Tax:</td> 
	  		<td style= "text-align: right">+&nbsp;$<%= @tax_price %></td>
	  	</tr>
	  	<tr>
	  		<td>Total Price:</td> 
	  		<td style= "text-align: right; border-top: 1px solid black">$<%= @total %></td>
	  	</tr>
	  </table>
	</p>
	
	<p>
	  <%= @product.description %>
	</p>
	
	</div>
	
	<%- if @product.category == "Jewels" %>
	  <%= javascript_include_tag "jewels" %>  
	<% end -%>
	
	<%- if @product.category == "Snakes" %>
		<%= javascript_include_tag "snakes" %>  
	<% end -%>
	
	<%- if @product.category == "Coffee" %>
		<%= javascript_include_tag "coffee" %> 
	<% end -%>
	
	<div class="additional_link">
		<p id="similar">Similar Products</p>
		<a href="http://localhost:3000/products/Variable" id="index"><img src="/system/products/pictures/000/000/NUMBER/thumb/NAME.jpeg?ID" id="name"></a></br>
		<p id= "other_name"></p>
	</div>
</div>

