<div class="image_item">
	<p><%=image_tag @product.picture.url(:medium)%></p>	
</div>

<div class="products_individual">

<p style = "font-size:24px">
  <strong><%= @product.title %></strong>
</p>
<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p> 
<p>
  <strong>Size:</strong>
  <%= @product.size %> <%= @unit %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @product.price %>
</p>

<p>
  <%= @product.description %>
</p>

</div>
<div id="back"><%= link_to 'Back', products_path %></div>
<%= render "welcome/adsVertical"%>

<script type='text/javascript'>
    var numberArray=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30];
    var nameArray=[
    "Ruby", "python", "coffee", "alexandrite", "blackmamba", "americano", 
    "emerald", "rattlesnake", "latte", "pyrite", "viper", "cafe_au_lait",
    "opal", "cornsnake", "espresso", "aquamarine", "boaconstrictor", "cappuccino", 
    "diamond", "copperhead", "latte_macchiato", "jade", "gardensnake", "macchiato",
    "pearl", "cobra", "mocha", "sapphire", "milksnake", "turkish_coffee"
    ];
    var idArray=[
    1420137571, 1421687879, 1421687912, 1420388601, 1420388847, 1421687931, 
    1420389585, 1421687956, 1420389984, 1420742122, 1420742225, 1420742286,
	1420762324, 1420762512, 1420762792, 1420935182, 1420935352, 1420935511, 
	1420935661, 1420935828, 1420936068, 1420936416, 1421687983, 1420936708,
	1422140199, 1422140424, 1422140510, 1422141890, 1422142007, 1422142130
	];
    var numberIdArray= [
    "001", "002", "003", "004", "005", "006", 
    "007", "008", "009", "010", "011", "012", 
    "013", "014", "015", "016", "017", "018", 
    "019", "020", "021", "022", "023", "024",
    "025", "026", "027", "028", "029", "030"
    ];
    var titleArray=[
    "Ruby", "Python", "Coffee", "Alexandrite", "Black Mamba", "Americano", 
    "Emerald", "Rattlesnake", "Latte", "Pyrite", "Viper", "Cafe au Lait",
    "Opal", "Cornsnake", "Espresso", "Aquamarine", "Boa Constrictor", "Cappuccino", 
    "Diamond", "Copperhead", "Latte Macchiato", "Jade", "Gardensnake", "Macchiato",
    "Pearl", "Cobra", "Mocha", "Sapphire", "Milksnake", "Turkish Coffee"
    ];
    var randomnumber=Math.floor(Math.random()*nameArray.length);
    random_generator=numberArray[randomnumber];
    random_generator2=nameArray[randomnumber];
    random_generator3=idArray[randomnumber];
    random_generator4=numberIdArray[randomnumber];
    random_generator5=titleArray[randomnumber];
</script>
<div class="additional_link">
<p>You Might Like This As Well.  Click the Picture for More Information.</p></br>
<a href="http://localhost:3000/products/Variable" id="index"><img src="/system/products/pictures/000/000/NUMBER/thumb/NAME.jpeg?ID" id="name"></a></br>
<strong><img alt="NAME" id="other_name" style = "font-size: 24px"></strong>
<script>
    var newUrl = document.getElementById('index').href;
    newUrl = newUrl.replace("Variable", random_generator);
    document.getElementById('index').href = newUrl;
</script>
<script>
	var newName = document.getElementById('name').src;
    newName = newName.replace("ID", random_generator3);
    newName = newName.replace("NAME", random_generator2);
    newName = newName.replace("NUMBER", random_generator4);
    document.getElementById('name').src = newName;
</script>
<script>
	var newOtherName = document.getElementById('other_name').alt;
	newOtherName = newOtherName.replace("NAME", random_generator5);
	document.getElementById('other_name').alt = newOtherName;
</script>
</div>
<%= render "welcome/adsHorizontal"%>
