<!DOCTYPE html>
<html>
<head>
  <title>Adam's Snakes, Jewels And Coffee Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <div id="title"><%=image_tag("title.gif")%></div>
</head>
<body style="background-image:url(/images/background2.jpg)">

<%= yield %>

</body>
</html>
