<!DOCTYPE html>
<html>
<head>
  <title>Adam's Snakes, Jewels And Coffee Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <div id="title"><%=image_tag("header.jpg")%></div>
</head>
<body>
<table id="menu" cellspacing="0">
	<tr>
		<td><a href="http://localhost:3000/">Home</a></td>
		<td><a href="http://localhost:3000/about">About</a></td>
		<td><a href="http://localhost:3000/items">Items</a></td>
		<td><a href="http://localhost:3000/menu">Menu</a></td>
		<td><a href="http://localhost:3000/users/sign_in">Sign In</a></td>
		<td><a href="http://localhost:3000/search">Search</a></td>
	</tr>
</table>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
